#play {
  min-height: 60em;

  .float-img-holder {
    box-sizing: border-box;

    img {
      max-width: 300px;
      margin: 0 auto;
    }
  }
}
@media (max-width: $dp-hides-width) {
  #play {
    margin-bottom: 5em;

    .float-img-holder {
      height: 200px;

      img {
        max-width: none;
      }
    }
  }
}
