.icon-container.about {
  z-index: 20;

  .icon-holder{
    left: 8em;
    top: 5em;

  }
}
@media (max-width: $dp-hides-width) {
  .icon-container.about {
    .icon-holder{
      left: calc(50% - 38px);
      opacity: 0;
      top: -100px;
      z-index: -1;
    }
  }
}

.me-love {
  .sub-navigation {
    text-align: center;
    padding-top: 1.5em;
    text-transform: capitalize;
    display: block;
    font-size: 3em;

    .subnav {
      text-decoration: none;
      color: #ccc;
      font-size: 0.5em;
      margin: 0 5px;

      &:hover {
        color: $primary
      }

      &.disabled {
        opacity: 0;
      }
    }
  }


  > .container {
    height: 100%;
  }
  .float-img-holder {
    width: 35%;
    height: calc(100% - 12em);
    margin-top: 12em;
    display: flex;
    position: absolute;
    top: 0;
    align-items: center;

    img {
      width: 100%;
    }
  }
  .text-container-holder {
    width: 65%;
    margin-left: 35%;
    height: calc(100% - 12em);
    margin-top: 12em;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    padding: 0 3em;
    box-sizing: border-box;

    .text-container {
      background: rgba(255, 255, 255, 0.8);
      padding: 1.3em;
      border: 1px solid #ccc;
      border-radius: 3px;
      width: 100%;
      font-size: 1.3em;
      line-height: 1.5em;

      span {
        font-weight: 600;
        font-size: 1.2em;
      }
    }
  }
}
@media (max-width: 950px) {
  .me-love .text-container-holder .text-container {
    font-size: 1.2em;
  }
}
@media (max-width: $dp-hides-width) {
  .me-love {
    .sub-navigation {
      padding-top: 1em;
      font-size: 2em;
      .subnav {
        font-size: 1em;
      }
    }

    .float-img-holder {
      position: static;
      width: 100%;
      height: 250px;
      justify-content: center;
      padding: 1.5em 0;
      margin-top: 0;

      img {
        width: auto;
        height: 100%;
      }
    }

    .text-container-holder {
      position: static;
      margin: 0;
      height: auto;
      width: 100%;
      padding: 0 1.5em;

      .text-container {
        font-size: 1em;
      }
    }
  }
}


.icon-container.about {
  .icon-holder .dp-extras {
    opacity: 1;
    width: 90px;
    height: 90px;
    border-radius: 100px;
    border: 10px solid #444;
    left: -3px;
    top: -3px;
    @include animation(explore_zoom 8s ease-in-out infinite);


    &:before {
      content: ' ';
      width: 10px;
      height: 20px;
      background: #fff;
      position: absolute;
      left: 80px;
      top: 80px;
      transform: rotate(45deg);
    }

    &:after {
      content: ' ';
      width: 100px;
      height: 20px;
      background: #444;
      position: absolute;
      left: 60px;
      top: 105px;
      transform: rotate(45deg);
      z-index: -1;
    }

    .div1 {
      width: 90px;
      height: 90px;
      border-radius: 100px;
      background: url(/images/profile-128.jpg);
      background-size: 100%;
      background-position: 50%;
      @include animation(explore_zoom_img 8s ease-in-out infinite);
    }
  }
}

#explore {
  min-height: 55em;
  // background: $palette-1;
  background-size: cover;
  background-position: 0 70%;
  @include gradient-vertical-img(white, 5%, transparent, 50%, url("/images/river-view-full4.jpg"));

  .sub-navigation a:not(.active):not(:hover) {
    // color: #fff;
  }

  .images {
    height: 150px;
    overflow: hidden;
    margin: 20px 0;

    a {
      display: inline-block;
      position: relative;

      &:hover:after {
        content: ' ';
        position: absolute;
        width: 100%;
        height: 100%;
        background: $primary;
        left: 0;
        opacity: 0.5;
      }
    }

    img {
      width: 150px;
    }
  }
}
// @media (max-width: 1270px) {
//   #explore .images img {
//     width: 100px;
//   }
// }
@media (max-width: 1280px) and (max-height: 920px){
  #explore {
    min-height: 75em;
    .images {
      height: 200px;

      img {
        width: 100px;
      }
    }
  }
}
@media (min-width: 1290px) {
  #explore {
    // background-position: 50%;
    // @include gradient-vertical-img(white, 5%, transparent, 50%, url("/images/river-view-full.jpg"));

  }
}
@media (max-width: $dp-hides-width) {
  #explore {
    background-image: url("/images/river-view-full3.jpg");
    background-repeat: no-repeat;
    background-position: 0 50%;

    .text-container-holder {
      padding-top: 2em;
      padding-bottom: 27em;
    }

    .images {
      height: 140px;

      img {
        width: 70px;
      }
    }
  }
}
@media (max-width: 450px) {
  #explore .text-container-holder {
    padding-bottom: 37em;
  }
}

#express {
  min-height: 60em;
}
@media (max-width: $dp-hides-width) {
  #express {
    min-height: auto;
    margin-bottom: 3em;
  }
}

#solve {
  min-height: 800px;
  background: $palette-3;
}

#play {
  min-height: 60em;

  .float-img-holder {
    box-sizing: border-box;

    img {
      max-width: 300px;
      margin: 0 auto;
    }
  }
}
@media (max-width: $dp-hides-width) {
  #play {
    margin-bottom: 5em;

    .float-img-holder {
      height: 200px;

      img {
        max-width: none;
      }
    }
  }
}

@include keyframes(ilt_rotate) {
  0%   { top: 0% }

  14.66%  { top: 0% }
  // 16.66%  { top: 0% }
  18.66%  { top: 25% }

  48%  { top: 25% }
  // 50%  { top: 20% }
  52%  { top: 50% }

  81.33%  { top: 50% }
  // 83.33%  { top: 40% }
  85.33%  { top: 75% }

  100% { top: 75% }

  // --------
  // 16.66% ± 2
  // --------
  // 33.33% x 2
  // --------
  // 16.66%
  // --------
}

// @include keyframes(ilt_color_change) {
//   0%   { background: $palette-1; }

//   10%  { background: $palette-1; }
//   15%  { background: $palette-2; }

//   35%  { background: $palette-2; }
//   40%  { background: $palette-3; }

//   60%  { background: $palette-3; }
//   65%  { background: $palette-4; }

//   85%  { background: $palette-4; }
//   90%  { background: $palette-5; }

//   100% { background: $palette-5; }
// }


@include keyframes(explore_zoom) {
  // 0% { @include transform(scale(1)); }
  35% { @include transform(scale(1)); }
  45% { @include transform(scale(1.3)); }
  65% { @include transform(scale(1.3)); }
  75% { @include transform(scale(1)); }
  // 1000% { @include transform(scale(1)); }
}
@include keyframes(explore_zoom_img) {
  // 0% { @include transform(scale(1)); }
  35% { background-size: 100%; }
  45% { background-size: 150%; }
  65% { background-size: 150%; }
  75% { background-size: 100%; }
  // 1000% { @include transform(scale(1)); }
}
