// Mixins
@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($animations...) {
  -webkit-animation: $animations;
  -moz-animation:    $animations;
  -o-animation:      $animations;
  animation:         $animations;
}

// CSS Start
::-moz-selection { background: lighten($primary, 20%)}
::selection { background: lighten($primary, 20%); }

body {
  margin: 0;
  font-family: 'Raleway', helvetica, sans-serif;
  background: #fff;
}

a {
  color: #333;
  // transition: 0.125s linear all;
}

a:hover {
  color: $primary;
}

.container {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  z-index: 12;
  width: 100%;
  background: #fff;
  box-shadow: 0px 10px 30px 10px #fff;


  ul {
    display: flex;
    justify-content: space-around;
    max-width: 40em;
    margin-left: auto;
    padding-right: 40px;
  }

  li {
    list-style: none;

    .active {
      text-shadow: 0px 0px 3px #ccc;
      color: #999;
    }
  }
}
@media (max-width: 600px) {
  .header {
    box-shadow: none;
  }
}

img.dp-icon {
  display: inline-block;
  width: 90px;
  height: 90px;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid #ccc;
  transition: 200ms linear all;
  &:hover {
    border-color: $primary;
    box-shadow: 0px 0px 20px 2px $primary;
  }
}
