.dd-header {
  height: 90px;
  padding: 2em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  position: relative;
  @include transition(opacity 0.5s 0.5s linear);

  &:after {
    content: '';
    width: 50%;
    position: absolute;
    background: #333;
    height: 100%;
    top: 0;
    left: 50%;
    z-index: -2;
  }

  .design-header ,
  .develop-header {
    font-size: 4em;
    font-weight: 600;
    letter-spacing: 4px;
    width: 370px;
    box-sizing: border-box;
    position: relative;
    opacity: 0;

    span {
      position: absolute;
      width: 45px;
      height: 90px;
      border-radius: 0px 90px 90px 0;
      box-sizing: border-box;
      padding-left: 63px;
      display: block;
      top: -8px;

      &:before {
        content: '';
        width: 15px;
        height: 15px;
        border-radius: 50px;
        position: absolute;
        bottom: 15px;
        left: -8px;
      }
    }
  }

  .design-header {
    color: #333;
    padding-left: 160px;
    text-shadow: 0 0 5px #fff,0 0 5px #fff,0 0 5px #fff,0 0 5px #fff,0 0 5px #fff,0 0 5px #fff,0 0 5px #fff,0 0 5px #fff,0 0 5px #fff,0 0 5px #fff,0 0 5px #fff,0 0 5px #fff,0 0 5px #fff,0 0 5px #fff,0 0 5px #fff,0 0 5px #fff,0 0 5px #fff,0 0 5px #fff,0 0 5px #fff;


    span {
      border: 3px solid #fff;
      background: #333;
      left: 81px;

      &:before {
        border: 2px solid #333;
        background: #fff;
      }
    }
  }
  .develop-header {
    color: #fff;
    padding-left: 130px;
    text-shadow: 0 0 5px #333,0 0 5px #333,0 0 5px #333,0 0 5px #333,0 0 5px #333,0 0 5px #333,0 0 5px #333,0 0 5px #333,0 0 5px #333,0 0 5px #333,0 0 5px #333,0 0 5px #333,0 0 5px #333,0 0 5px #333,0 0 5px #333,0 0 5px #333,0 0 5px #333,0 0 5px #333,0 0 5px #333;

    span {
      border: 3px solid #333;
      background: #fff;
      left: 51px;

      &:before {
        border: 2px solid #fff;
        background: #333;
      }
    }
  }

  &.animate {
    opacity: 1;

    .design-header,
    .develop-header {
      opacity: 1;
      @include transition(opacity 0.2s 2.8s linear);
    }

    .design-header span:before {
      // @include transition(left .2s 18.3s linear, bottom 0.5s 11.5s linear);
      // left: -30px;
      // bottom: -10px;
      @include animation(yy_revolve 2s 5s + (10s * 3) + 1s ease-in-out infinite reverse, yy_top_bot 4s 12s linear infinite alternate);
    }
    .develop-header span:before {
      // @include transition(left .2s 19.3s linear, bottom 0.5s 11.5s linear);
      // left: -30px;
      // bottom: -10px;
      @include animation(yy_revolve 2s 5s + (10s * 3) ease-in-out infinite, yy_top_bot 4s 12s linear infinite alternate);
    }
  }

  .yin-yang {
    width: 90px;
    height: 90px;
    position: relative;
    @include transition(all .5s .35s linear);
    // @include transform(rotate(-180deg));

    &:before {
      content: '';
      position: absolute;
      width: 90px;
      height: 90px;
      border-radius: 90px;
      background: url(/images/profile-128.jpg);
      background-size: contain;
      @include transform(rotate(180deg));
      // box-shadow: 0 0 0 3px $grey;
    }


    .d1 { /* white side */
      position: absolute;
      width: 45px;
      height: 90px;
      background: #fff;
      border-radius: 0px 90px 90px 0;
      border: 3px solid #333;
      box-sizing: border-box;
      left: 0;
      top: 0;
      @include transition(all .5s linear, padding-left .5s .25s linear);
      @include transform(rotate(180deg));

      &:before { /* Black dot, for later use */
        content: '';
        width: 15px;
        height: 15px;
        border-radius: 50px;
        border: 0px solid #fff;
        position: absolute;
        bottom: 14px;
        background: #333;
        left: -6px;
        @include transition(all .5s linear);
      }
    }

    .d2 { /* Black side */
      position: absolute;
      width: 45px;
      height: 90px;
      background: #333;
      border-radius: 0px 90px 90px 0;
      border: 3px solid #fff;
      box-sizing: border-box;
      left: 45px;
      top: 0;
      @include transition(all .5s linear, padding-left .5s .25s linear);

      &:before { /* Black dot, because I'm on top */
        content: '';
        width: 15px;
        height: 15px;
        border-radius: 50px;
        border: 13px solid #fff;
        position: absolute;
        top: 1px;
        background: #333;
        left: -25px;
        @include transition(all .5s linear);
      }

      &:after { /* White dot for my parent */
        content: '';
        width: 15px;
        height: 15px;
        border-radius: 50px;
        border: 13px solid #333;
        position: absolute;
        bottom: 1px;
        background: #fff;
        left: -25px;
        @include transition(all .5s linear);
      }
    }

    &.split { /* .yin-yang */
      @include transition(all .5s linear);
      @include transform(rotate(180deg));
      // @include transform(rotate(360deg));

      .d1 {
        opacity: 0;
        position: absolute;
        padding-left: 63px;
        @include transition(all .5s .35s linear, padding-left .5s linear, opacity 0s 1s linear);
        left: -120px;

        &:before {
          border-width: 2px;
          width: 15px;
          height: 15px;
          left: -8px;
          bottom: 15px;
        }
      }

      .d2 {
        opacity: 0;
        position: absolute;
        padding-left: 63px;
        @include transition(all .5s .35s linear, padding-left .5s linear, opacity 0s 1s linear);
        left: 310px;
        @include transform(rotate(180deg));

        &:before {
          // opacity: 0;
          @include transform(scaleX(0));
        }

        &:after {
          border-width: 2px;
          width: 15px;
          height: 15px;
          left: -8px;
          bottom: 15px;
        }
      }
    }
  }
}
@media (max-width: 830px) { /* 370 + 370 + 90 */
  .dd-header {
    margin: -2em 0;
    width: 125%;
    position: relative;
    left: -12.5%;
    @include transform(scale(0.8));
  }
}
@media (max-width: $dp-hides-width) {
  .dd-header {
    margin: -4em 0;
    width: 275.7%;
    position: relative;
    left: -93%;
    opacity: 1;
    @include transform(scale(0.4));

    .design-header,
    .develop-header {
      opacity: 1;
    }
  }
}

@include keyframes(yy_revolve) {
  0% { left: -30px; z-index: 1; }

  49% { z-index: 1; }
  50% { left: 70px; z-index: -1; }

  99% { z-index: -1; }
  100% { left: -30px; z-index: 1; }
}
@include keyframes(yy_top_bot) {
  // 0% { bottom: -10px; }
  // 100% { bottom: 75px; }
}
