$primary: #8fc045;
$grey: #ccc;

$palette-pink: #FF78BC;
$palette-blue: #34D0FF;
$palette-orange: #D0854B;
$palette-yellow: #F7EB3C;
$palette-violet: #BF78FF;

// #ED2634

// https://coolors.co/app/ff77bb-34D0FF-D0854B-FEFA59-bf78ff

$dp-hides-width: 720px;
