.icon-container.work{
  .icon-holder{
    left: calc(50% - 325px);
    top: 2.5em;
    opacity: 0;
    visibility: hidden;
    .dp-icon {
      width: 650px;
      height: 650px;
      @include transition(all 0.5s linear);
    }
    @include transition(all 0.5s linear, opacity 0.3s .5s linear, visibility 0s .8s linear);
  }
}
@media (max-width: $dp-hides-width) {
  .icon-container.work{
    .icon-holder{
      top: 4em;
      left: calc(50% - 165px);
      .dp-icon {
        width: 330px;
        height: 330px;
      }
    }
  }
}

#work {
  margin-top: 6em;
}
.work-img-container {
  position: relative;
  width: 600px;
  margin: auto;

  .work-split {
    width: 100%;
    height: calc(100% - 4px);
    background: $grey;
    position: absolute;
    z-index: -1;
    box-sizing: border-box;
    overflow: hidden;
    // display: flex;
    // flex-flow: row wrap;
    color: rgba(255, 255, 255, 0.85);
    font-size: 1.3em;

    .hat-1, .hat-2, .hat-3,
    .face-1, .face-2 {
    }

    .hat-1 {
      position: absolute;
      top: -16%;
      left: 16%;
      width: 80%;
      height: 40%;
      border-radius: 50%;
      background: #999;
      z-index: 5;
    }

    .hat-2 {
      position: absolute;
      top: 14%;
      left: 20.8%;
      width: 49.8%;
      height: 0;
      @include transform(rotate(3deg));
      background: transparent;
      z-index: 4;
      border-bottom: 158px solid #666;
      border-left: 36px solid transparent;
      border-right: 32px solid transparent;

      &:before {
        content: '';
        position: absolute;
        bottom: -198px;
        left: -36px;
        background: #666;
        width: calc(100% + 68px);
        /* @include transform(rotate(1deg)); */
        height: 78px;
        border-radius: 50%;
      }
    }

    .hat-3 {
      position: absolute;
      top: 22.6%;
      left: 7%;
      width: 90%;
      height: 50%;
      @include transform(rotate(3deg));
      border-radius: 50%;
      background: #333;
      z-index: 3;
    }

    .face-1 {
      position: absolute;
      top: 45%;
      left: 26.5%;
      width: 50%;
      height: 43%;
      border-radius: 50%;
      background: #B57A4E;
      z-index: 2;
      /* background: #B36A34; */
    }

    .face-2 {
      position: absolute;
      top: 75%;
      width: 80%;
      height: 30%;
      z-index: 1;
      background: #E4A270;
      /* background: #E09F6E; */
    }

    .split {
      width: 100%;
      height: 10%;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      text-transform: uppercase;
      z-index: 6;
      background: transparent;
      position: absolute;
      font-weight: 600;
      opacity: 0;
    }
    .sp-1 {
      top: 3%;
      left: 2%;
    }
    .sp-2 {
      top: 26%;
    }
    .sp-3 {
      top: 48%;
      font-size: 1.2em;
      // color: rgba(255, 255, 255, 0.7);
    }
    .sp-4 {
      top: 70%;
    }
    .sp-5 {
      top: 83%;
    }
  }

  &.animate {
    .split {
      opacity: 1;
      height: 20%;
    }
    .sp-1 {
      @include transition(all 0.3s linear);
    }
    .sp-2 {
      @include transition(all .3s .4s linear);
    }
    .sp-3 {
      @include transition(all .3s .8s linear);
    }
    .sp-4 {
      @include transition(all .3s 1.2s linear);
    }
    .sp-5 {
      @include transition(all .3s 1.6s linear);
    }
  }

  .work-dp-img {
    width: 100%;
  }
}


.work-rest {
  opacity: 0;

  .work-img-title {
    text-align: center;
    color: $grey;
  }

  .work-dig-deeper {
    text-align: center;
    display: block;
    /* background: #$primary; */
    display: block;
    /* color: #fff; */
    width: 160px;
    padding: 10px;
    margin: auto;
    margin-top: 3em;
    border-radius: 3px;
    border: 1px solid $primary;
  }
}
#work.show-rest {
  .work-rest {
    opacity: 1;
    @include transition(all .5s linear);
  }
}

@media (max-width: $dp-hides-width) {
  #work {
    margin-top: 2em;

    .work-img-container {
      width: 300px;

      .work-split {
        font-size: 1em;

        .hat-2 {
          border-bottom-width: 79px;
          border-left-width: 18px;
          border-right-width: 16px;

          &:before {
            bottom: -100px;
            left: -18px;
            width: calc(100% + 34px);
            height: 40px;
          }
        }

        .sp-3 {
          font-size: 1em;
        }
      }
    }
  }
}
