$dp-hides-width: 720px;

.icon-container {
  position: fixed;
  top: 6em;
  left: 0;
  width: 100%;
  z-index: 2;

  .icon-holder{
    position: absolute;
    top: 0;
    left: calc(50% - 48px);
    transition: 0.35s ease-out all;
  }

  &.placed-top {
    z-index: 20;

    .icon-holder{
      left: 8em;
      top: 5em;
    }
  }
}
@media (max-width: $dp-hides-width), (max-height: 950px) {
  .icon-container {
    top: 4.1em;

    .icon-holder {
      left: calc(50% - 38px)
    }
  }
  img.dp-icon {
    height: 70px;
    width: 70px;
  }
}
@media (max-width: $dp-hides-width) {
  .icon-container {
    position: absolute;
    top: 1em;

    &.placed-top {
      z-index: 2;
      .icon-holder{
        top: 0;
      }
    }
  }
}

.first-section {
  position: relative;
  min-height: 47em;
   .container {
      height: 100%;
   }
}
@media (max-width: $dp-hides-width) {
  .first-section {
    min-height: auto;
  }
}

.center-text {
  text-align: center;
  margin: 0em 1.5em;
  padding-top: 12em;
}
@media (max-width: $dp-hides-width), (max-height: 950px) {
  .center-text {
    padding-top: 8em;
  }
}
@media (max-width: $dp-hides-width) {
  .center-text {
    padding-top: 5em;

    h3 {
      margin-top: -0.5em;
    }
  }
}

.social {
  display: flex;
  justify-content: space-around;
  width: 10em;
  margin: 0px auto;

  .img {
    width: 25px;
    height: 25px;
    background-image: url(/images/social-less.jpg);
    background-size: 140px;

  }

  .email {
    background-position: 1px 0px;
    &:hover {
      background-position: 1px 24px;
    }
  }

  .twitter {
    background-position: 64px 0px;
    &:hover {
      background-position: 64px 24px;
    }
  }

  .skype {
    background-position: 104px 0px;
    &:hover {
      background-position: 104px 24px;
    }
  }

  .linkedin {
    background-position: 26px 0px;
    &:hover {
      background-position: 26px 24px;
    }
  }
}

.ilt-section {
  font-size: 2em;
  position: relative;
  width: 8em;
  margin: 4em auto 0;

  .ilt {
    position: absolute;
    top: 0%;
    width: 100%;
    z-index: -1;
    padding: 5px 10px;
    box-sizing: border-box;
    border-radius: 100px;
    border-bottom: 3px solid darken($primary, 20%);
    background: $primary;

    &.animate {
      @include animation(/* ilt_color_change 7s ease-in-out infinite alternate,  */ilt_rotate 7s ease-in-out infinite alternate);
    }


    img {
      width: 0.9em;
      margin: 0 0.2em;
    }
  }

  .ilt-holder {
    margin-left: 3.8em;
  }

  .ilt-option {
    cursor: pointer;
    padding-top: 5px;
    margin-bottom: 1em;
    text-transform: capitalize;

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 1em;
    }
  }
}
@media (max-width: $dp-hides-width), (max-height: 950px) {
  .ilt-section {
    font-size: 1.5em;
    margin-top: 1em;

    .ilt-option {
      margin-bottom: 0.3em;

      &:last-child {
        padding-bottom: 0.3em;
      }
    }
  }
}

.scroll-down-arrows {
  cursor: pointer;
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 40px;
  @include animation(fade_move_down 3s ease-in-out infinite);

  &.hide {
    display: none;
  }

  .text {
    color: $primary;
    white-space: nowrap;
    margin-left: -1.5em;
  }

  svg {
    width: 40px;
    height: 70px;
  }

  path {
    stroke: $primary;
    fill: transparent;
    stroke-width: 3px;
  }
}
@media (max-height: 750px) {
  .scroll-down-arrows {
    display: none;
  }
}

.me-love {
  .sub-navigation {
    display: flex;
    justify-content: space-around;
    padding-top: 5em;
    padding-left: 17em;
    text-transform: capitalize;

    .nav-item {
      display: flex;
      align-items: center;
      position: relative;


      &.active {
        cursor: text;
        display: block;
        font-size: 160%;
      }
    }

  }
}
@media (max-width: $dp-hides-width) {
  .me-love {
    .sub-navigation {
      padding-left: 0;
      padding-top: 1em;
    }
  }
}
@media (min-width: 900px) {
  .me-love .sub-navigation {
    padding-top: 4em;
  }
  .me-love .sub-navigation .nav-item:first-letter {
    font-size: 4em;
    margin-right: 0.05em;
    font-weight: 800;
    vertical-align: middle;
    line-height: 1em;
    display: inline-block;
    text-transform: uppercase;
    color: lighten($primary, 20%);
    text-shadow: 0 0 7px darken($primary, 0%), 0 0 7px darken($primary, 0%);
  }
}

#explore {
  min-height: 800px;
  // background: $palette-1;
  background-size: cover;
  background-position: 0 70%;
  @include gradient-vertical-img(white, 5%, transparent, 50%, url("/images/river-view-full4.jpg"));

  .sub-navigation a:not(.active):not(:hover) {
    // color: #fff;
  }
}
@media (min-width: 1290px) {
  #explore {
    background-position: 50%;
    @include gradient-vertical-img(white, 5%, transparent, 50%, url("/images/river-view-full.jpg"));
  }
}
@media (max-width: $dp-hides-width) {
  #explore {
    background-image: url("/images/river-view-full3.jpg");
    background-repeat: no-repeat;
    background-position: 0 50%;
  }
}

#express {
  min-height: 800px;

  > .container {
    height: 100%;
  }
  .float-img-holder {
    width: 35%;
    height: calc(100% - 12em);
    margin-top: 12em;
    display: flex;
    position: absolute;
    top: 0;
    align-items: center;

    img {
      width: 100%;
    }
  }
  .text-container-holder {
    width: 65%;
    margin-left: 35%;
    height: calc(100% - 12em);
    margin-top: 12em;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    padding: 0 3em;
    box-sizing: border-box;

    .text-container {
      padding: 1.3em;
      border: 1px solid #ccc;
      border-radius: 3px;
      width: 100%;
    }
  }
}
@media (max-width: $dp-hides-width) {
  #express {
    min-height: auto;
    .float-img-holder {
      position: static;
      width: 100%;
      height: 250px;
      justify-content: center;
      padding: 1.5em 0;
      margin-top: 0;

      img {
        width: auto;
        height: 100%;
      }
    }

    .text-container-holder {
      position: static;
      margin: 0;
      height: auto;
      width: 100%;
    }
  }
}

@include keyframes(ilt_rotate) {
  0%   { top: 0% }

  10%  { top: 0% }
  // 12.5%  { top: 0% }
  15%  { top: 20% }

  35%  { top: 20% }
  // 37.5%  { top: 20% }
  40%  { top: 40% }

  60%  { top: 40% }
  // 62.5%  { top: 40% }
  65%  { top: 60% }

  85%  { top: 60% }
  // 87.5%  { top: 60% }
  90%  { top: 80% }

  100% { top: 80% }

  // --------
  // 12.5%
  // --------
  // 25% x 4
  // --------
  // 12.5%
  // --------
}

@include keyframes(ilt_color_change) {
  0%   { background: $palette-1; }

  10%  { background: $palette-1; }
  15%  { background: $palette-2; }

  35%  { background: $palette-2; }
  40%  { background: $palette-3; }

  60%  { background: $palette-3; }
  65%  { background: $palette-4; }

  85%  { background: $palette-4; }
  90%  { background: $palette-5; }

  100% { background: $palette-5; }
}


/*animated scroll arrow animation*/
@include keyframes(fade_move_down) {
  0%   { -webkit-transform:translate(0,-10px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px); opacity: 0; }
}
