@import url(https://fonts.googleapis.com/css?family=Raleway:400,600);
::-moz-selection {
  background: #bdda91; }

::selection {
  background: #bdda91; }

body {
  margin: 0;
  font-family: 'Raleway', helvetica, sans-serif;
  background: #fff; }

a,
.link {
  cursor: pointer;
  color: #333;
  text-decoration: underline; }
  a:hover,
  .link:hover {
    color: #8fc045; }
  a.active,
  .link.active {
    cursor: text;
    text-decoration: none;
    text-shadow: 0px 0px 3px #ccc;
    color: #8fc045; }
  a.disabled,
  .link.disabled {
    color: #ccc; }

.container {
  position: relative;
  max-width: 1280px;
  margin: 0 auto; }

.header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #ccc; }
  .header.minimized {
    background: rgba(255, 255, 255, 0.7); }
    .header.minimized ul {
      max-width: 40em; }
  .header ul {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    margin-left: auto;
    padding-right: 40px;
    transition: 0.35s ease-out all; }
  .header li {
    list-style: none; }

@media (max-width: 720px) {
  .header {
    bottom: 0;
    top: auto;
    border-bottom: none;
    border-top: 1px solid #aaa; }
    .header ul {
      padding: 0; } }

.icon-container {
  position: fixed;
  top: 6em;
  left: 0;
  width: 100%;
  z-index: 2;
  transition: 0.5s ease-out all; }
  .icon-container .icon-holder {
    position: absolute;
    top: 0;
    left: calc(50% - 48px);
    opacity: 1;
    transition: 0.5s ease-out all; }
    .icon-container .icon-holder .dp-icon {
      display: inline-block;
      width: 90px;
      height: 90px;
      overflow: hidden;
      border-radius: 50%;
      border: 3px solid #ccc;
      transition: 200ms linear all; }
      .icon-container .icon-holder .dp-icon:hover {
        border-color: #8fc045;
        box-shadow: 0px 0px 20px 2px #8fc045; }
    .icon-container .icon-holder .dp-extras {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transition: all 0.5s linear; }

@media (max-width: 720px) {
  .icon-container {
    position: absolute;
    top: 1em; }
    .icon-container .icon-holder {
      left: calc(50% - 38px); }
      .icon-container .icon-holder .dp-icon {
        height: 70px;
        width: 70px; } }

.page {
  display: none; }

#home {
  display: block; }

.first-section {
  position: relative;
  min-height: 33em; }
  .first-section .container {
    height: 100%; }

.center-text {
  text-align: center;
  margin: 0em 1.5em;
  padding-top: 12em; }
  .center-text h3 {
    font-weight: 400; }

@media (max-width: 720px) {
  .center-text {
    padding-top: 5em; }
    .center-text h3 {
      margin-top: -0.5em; } }

.social {
  display: flex;
  justify-content: space-around;
  width: 13em;
  margin: 0px auto; }
  .social .img {
    width: 25px;
    height: 25px;
    background-image: url(/images/social-less.jpg);
    background-size: 140px; }
  .social .more {
    height: 21px;
    background: #CDCDCD;
    border-radius: 50px;
    margin-top: 2px;
    margin-left: 2px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    line-height: 20px;
    font-size: 0.8em;
    padding: 0 5px; }
    .social .more:hover {
      margin-top: 0;
      background: #8fc045; }
  .social .email {
    background-position: 1px 0px; }
    .social .email:hover {
      background-position: 1px 24px; }
  .social .twitter {
    background-position: 64px 0px; }
    .social .twitter:hover {
      background-position: 64px 24px; }
  .social .skype {
    background-position: 104px 0px; }
    .social .skype:hover {
      background-position: 104px 24px; }
  .social .linkedin {
    background-position: 26px 0px; }
    .social .linkedin:hover {
      background-position: 26px 24px; }

.ilt-section {
  font-size: 2em;
  position: relative;
  width: 8em;
  margin: 4em auto 0; }
  .ilt-section .ilt {
    position: absolute;
    top: 0%;
    width: 100%;
    z-index: -1;
    padding: 5px 10px;
    box-sizing: border-box;
    border-radius: 100px;
    border-bottom: 3px solid #577728;
    background: #8fc045; }
    .ilt-section .ilt.animate {
      -webkit-animation: ilt_rotate 5s ease-in-out infinite alternate;
      -moz-animation: ilt_rotate 5s ease-in-out infinite alternate;
      -o-animation: ilt_rotate 5s ease-in-out infinite alternate;
      animation: ilt_rotate 5s ease-in-out infinite alternate; }
    .ilt-section .ilt img {
      width: 0.9em;
      margin: 0 0.2em; }
  .ilt-section .ilt-holder {
    margin-left: 3.8em; }
  .ilt-section .ilt-option {
    cursor: pointer;
    padding-top: 5px;
    margin-bottom: 1em;
    text-transform: capitalize; }
    .ilt-section .ilt-option:last-child {
      margin-bottom: 0;
      padding-bottom: 1em; }

@media (max-width: 720px), (max-height: 950px) {
  .ilt-section {
    font-size: 1.5em;
    margin-top: 1em; }
    .ilt-section .ilt-option {
      margin-bottom: 0.3em; }
      .ilt-section .ilt-option:last-child {
        padding-bottom: 0.3em; } }

@-webkit-keyframes ilt_rotate {
  0% {
    top: 0%; }
  14.66% {
    top: 0%; }
  18.66% {
    top: 25%; }
  48% {
    top: 25%; }
  52% {
    top: 50%; }
  81.33% {
    top: 50%; }
  85.33% {
    top: 75%; }
  100% {
    top: 75%; } }

@-moz-keyframes ilt_rotate {
  0% {
    top: 0%; }
  14.66% {
    top: 0%; }
  18.66% {
    top: 25%; }
  48% {
    top: 25%; }
  52% {
    top: 50%; }
  81.33% {
    top: 50%; }
  85.33% {
    top: 75%; }
  100% {
    top: 75%; } }

@-o-keyframes ilt_rotate {
  0% {
    top: 0%; }
  14.66% {
    top: 0%; }
  18.66% {
    top: 25%; }
  48% {
    top: 25%; }
  52% {
    top: 50%; }
  81.33% {
    top: 50%; }
  85.33% {
    top: 75%; }
  100% {
    top: 75%; } }

@keyframes ilt_rotate {
  0% {
    top: 0%; }
  14.66% {
    top: 0%; }
  18.66% {
    top: 25%; }
  48% {
    top: 25%; }
  52% {
    top: 50%; }
  81.33% {
    top: 50%; }
  85.33% {
    top: 75%; }
  100% {
    top: 75%; } }

.icon-container.about,
.icon-container.express,
.icon-container.solve,
.icon-container.play {
  z-index: 20; }
  .icon-container.about .icon-holder,
  .icon-container.express .icon-holder,
  .icon-container.solve .icon-holder,
  .icon-container.play .icon-holder {
    left: 8em;
    top: 5em; }

@media (max-width: 720px) {
  .icon-container.about .icon-holder {
    left: calc(50% - 38px);
    opacity: 0;
    top: -100px;
    z-index: -1; }
    .icon-container.about .icon-holder .dp-extras {
      display: none; } }

.me-love .sub-navigation {
  text-align: center;
  padding-top: 1.5em;
  text-transform: capitalize;
  display: block;
  font-size: 3em; }
  .me-love .sub-navigation .subnav {
    text-decoration: none;
    color: #ccc;
    font-size: 0.5em;
    margin: 0 5px; }
    .me-love .sub-navigation .subnav:hover {
      color: #8fc045; }
    .me-love .sub-navigation .subnav.disabled {
      opacity: 0; }

.me-love > .container {
  height: 100%; }

.me-love .float-img-holder {
  width: 35%;
  height: calc(100% - 12em);
  margin-top: 12em;
  display: flex;
  position: absolute;
  top: 0;
  align-items: center; }
  .me-love .float-img-holder img {
    width: 100%; }

.me-love .text-container-holder {
  width: 65%;
  margin-left: 35%;
  height: calc(100% - 12em);
  margin-top: 12em;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  padding: 0 3em;
  box-sizing: border-box; }
  .me-love .text-container-holder .text-container {
    background: rgba(255, 255, 255, 0.8);
    padding: 1.3em;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    font-size: 1.3em;
    line-height: 1.5em; }
    .me-love .text-container-holder .text-container span {
      font-weight: 600;
      font-size: 1.2em; }

@media (max-width: 950px) {
  .me-love .text-container-holder .text-container {
    font-size: 1.2em; } }

@media (max-width: 720px) {
  .me-love .sub-navigation {
    padding-top: 1em;
    font-size: 2em; }
    .me-love .sub-navigation .subnav {
      font-size: 1em; }
  .me-love .float-img-holder {
    position: static;
    width: 100%;
    height: 250px;
    justify-content: center;
    padding: 1.5em 0;
    margin-top: 0; }
    .me-love .float-img-holder img {
      width: auto;
      height: 100%; }
  .me-love .text-container-holder {
    position: static;
    margin: 0;
    height: auto;
    width: 100%;
    padding: 0 1.5em; }
    .me-love .text-container-holder .text-container {
      font-size: 1em; } }

.icon-container.about .icon-holder .dp-extras {
  opacity: 1;
  width: 90px;
  height: 90px;
  border-radius: 100px;
  border: 10px solid #444;
  left: -3px;
  top: -3px;
  -webkit-animation: explore_zoom 10s -2s ease-in-out infinite;
  -moz-animation: explore_zoom 10s -2s ease-in-out infinite;
  -o-animation: explore_zoom 10s -2s ease-in-out infinite;
  animation: explore_zoom 10s -2s ease-in-out infinite; }
  .icon-container.about .icon-holder .dp-extras:before {
    content: ' ';
    width: 10px;
    height: 20px;
    background: #fff;
    position: absolute;
    left: 80px;
    top: 80px;
    transform: rotate(45deg); }
  .icon-container.about .icon-holder .dp-extras:after {
    content: ' ';
    width: 100px;
    height: 20px;
    background: #444;
    position: absolute;
    left: 60px;
    top: 105px;
    transform: rotate(45deg);
    z-index: -1; }
  .icon-container.about .icon-holder .dp-extras .div1 {
    width: 90px;
    height: 90px;
    border-radius: 100px;
    background: url(/images/profile-128.jpg);
    background: url(/images/profile-small.jpg);
    background-size: 100%;
    background-position: 50%;
    -webkit-animation: explore_zoom_img 10s -2s ease-in-out infinite;
    -moz-animation: explore_zoom_img 10s -2s ease-in-out infinite;
    -o-animation: explore_zoom_img 10s -2s ease-in-out infinite;
    animation: explore_zoom_img 10s -2s ease-in-out infinite; }

#explore {
  min-height: 55em;
  background-size: cover;
  background-position: 0 70%;
  background-image: -webkit-linear-gradient(top, white 5%, transparent 50%), url("/images/river-view-full4.jpg");
  background-image: -o-linear-gradient(top, white 5%, transparent 50%), url("/images/river-view-full4.jpg");
  background-image: linear-gradient(to bottom, white 5%, transparent 50%), url("/images/river-view-full4.jpg");
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#00000000', GradientType=0); }
  #explore .images {
    height: 150px;
    overflow: hidden;
    margin: 20px 0; }
    #explore .images a {
      display: inline-block;
      position: relative; }
      #explore .images a:hover:after {
        content: ' ';
        position: absolute;
        width: 100%;
        height: 100%;
        background: #8fc045;
        left: 0;
        opacity: 0.5; }
    #explore .images img {
      width: 150px; }

@media (max-width: 1280px) and (max-height: 920px) {
  #explore {
    min-height: 75em; }
    #explore .images {
      height: 200px; }
      #explore .images img {
        width: 100px; } }

@media (max-width: 720px) {
  #explore {
    background-image: url("/images/river-view-full3.jpg");
    background-repeat: no-repeat;
    background-position: 0 50%; }
    #explore .text-container-holder {
      padding-top: 2em;
      padding-bottom: 27em; }
    #explore .images {
      height: 140px; }
      #explore .images img {
        width: 70px; } }

@media (max-width: 450px) {
  #explore .text-container-holder {
    padding-bottom: 37em; } }

@-webkit-keyframes explore_zoom {
  30% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); }
  35% {
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3); }
  40% {
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3); }
  45% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); }
  65% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); }
  70% {
    -moz-transform: scale(1.4);
    -o-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    transform: scale(1.4); }
  72% {
    -moz-transform: scale(1.4);
    -o-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    transform: scale(1.4); }
  75% {
    -moz-transform: scale(1.7);
    -o-transform: scale(1.7);
    -ms-transform: scale(1.7);
    -webkit-transform: scale(1.7);
    transform: scale(1.7); }
  90% {
    -moz-transform: scale(1.7);
    -o-transform: scale(1.7);
    -ms-transform: scale(1.7);
    -webkit-transform: scale(1.7);
    transform: scale(1.7); }
  100% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); } }

@-moz-keyframes explore_zoom {
  30% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); }
  35% {
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3); }
  40% {
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3); }
  45% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); }
  65% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); }
  70% {
    -moz-transform: scale(1.4);
    -o-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    transform: scale(1.4); }
  72% {
    -moz-transform: scale(1.4);
    -o-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    transform: scale(1.4); }
  75% {
    -moz-transform: scale(1.7);
    -o-transform: scale(1.7);
    -ms-transform: scale(1.7);
    -webkit-transform: scale(1.7);
    transform: scale(1.7); }
  90% {
    -moz-transform: scale(1.7);
    -o-transform: scale(1.7);
    -ms-transform: scale(1.7);
    -webkit-transform: scale(1.7);
    transform: scale(1.7); }
  100% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); } }

@-o-keyframes explore_zoom {
  30% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); }
  35% {
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3); }
  40% {
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3); }
  45% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); }
  65% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); }
  70% {
    -moz-transform: scale(1.4);
    -o-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    transform: scale(1.4); }
  72% {
    -moz-transform: scale(1.4);
    -o-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    transform: scale(1.4); }
  75% {
    -moz-transform: scale(1.7);
    -o-transform: scale(1.7);
    -ms-transform: scale(1.7);
    -webkit-transform: scale(1.7);
    transform: scale(1.7); }
  90% {
    -moz-transform: scale(1.7);
    -o-transform: scale(1.7);
    -ms-transform: scale(1.7);
    -webkit-transform: scale(1.7);
    transform: scale(1.7); }
  100% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes explore_zoom {
  30% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); }
  35% {
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3); }
  40% {
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3); }
  45% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); }
  65% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); }
  70% {
    -moz-transform: scale(1.4);
    -o-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    transform: scale(1.4); }
  72% {
    -moz-transform: scale(1.4);
    -o-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    transform: scale(1.4); }
  75% {
    -moz-transform: scale(1.7);
    -o-transform: scale(1.7);
    -ms-transform: scale(1.7);
    -webkit-transform: scale(1.7);
    transform: scale(1.7); }
  90% {
    -moz-transform: scale(1.7);
    -o-transform: scale(1.7);
    -ms-transform: scale(1.7);
    -webkit-transform: scale(1.7);
    transform: scale(1.7); }
  100% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); } }

@-webkit-keyframes explore_zoom_img {
  30% {
    background-size: 100%;
    background-position: 50%; }
  35% {
    background-size: 150%;
    background-position: 50%; }
  40% {
    background-size: 150%;
    background-position: 50%; }
  45% {
    background-size: 100%;
    background-position: 50%; }
  65% {
    background-size: 100%; }
  70% {
    background-size: 210%;
    background-position: 70% 70%; }
  72% {
    background-size: 210%;
    background-position: 70% 70%; }
  75% {
    background-size: 270%;
    background-position: 30% 80%; }
  90% {
    background-size: 270%;
    background-position: 30% 80%; }
  100% {
    background-size: 100%;
    background-position: 50%; } }

@-moz-keyframes explore_zoom_img {
  30% {
    background-size: 100%;
    background-position: 50%; }
  35% {
    background-size: 150%;
    background-position: 50%; }
  40% {
    background-size: 150%;
    background-position: 50%; }
  45% {
    background-size: 100%;
    background-position: 50%; }
  65% {
    background-size: 100%; }
  70% {
    background-size: 210%;
    background-position: 70% 70%; }
  72% {
    background-size: 210%;
    background-position: 70% 70%; }
  75% {
    background-size: 270%;
    background-position: 30% 80%; }
  90% {
    background-size: 270%;
    background-position: 30% 80%; }
  100% {
    background-size: 100%;
    background-position: 50%; } }

@-o-keyframes explore_zoom_img {
  30% {
    background-size: 100%;
    background-position: 50%; }
  35% {
    background-size: 150%;
    background-position: 50%; }
  40% {
    background-size: 150%;
    background-position: 50%; }
  45% {
    background-size: 100%;
    background-position: 50%; }
  65% {
    background-size: 100%; }
  70% {
    background-size: 210%;
    background-position: 70% 70%; }
  72% {
    background-size: 210%;
    background-position: 70% 70%; }
  75% {
    background-size: 270%;
    background-position: 30% 80%; }
  90% {
    background-size: 270%;
    background-position: 30% 80%; }
  100% {
    background-size: 100%;
    background-position: 50%; } }

@keyframes explore_zoom_img {
  30% {
    background-size: 100%;
    background-position: 50%; }
  35% {
    background-size: 150%;
    background-position: 50%; }
  40% {
    background-size: 150%;
    background-position: 50%; }
  45% {
    background-size: 100%;
    background-position: 50%; }
  65% {
    background-size: 100%; }
  70% {
    background-size: 210%;
    background-position: 70% 70%; }
  72% {
    background-size: 210%;
    background-position: 70% 70%; }
  75% {
    background-size: 270%;
    background-position: 30% 80%; }
  90% {
    background-size: 270%;
    background-position: 30% 80%; }
  100% {
    background-size: 100%;
    background-position: 50%; } }

.icon-container.express .icon-holder .dp-extras {
  width: 90px;
  height: 90px;
  opacity: 1;
  left: 3px;
  top: 3px;
  border-radius: 100px;
  -webkit-animation: dp_art 12s -2s linear infinite;
  -moz-animation: dp_art 12s -2s linear infinite;
  -o-animation: dp_art 12s -2s linear infinite;
  animation: dp_art 12s -2s linear infinite; }
  .icon-container.express .icon-holder .dp-extras .div1 {
    width: 70px;
    height: 98px;
    background: url(/images/paint-brush.png);
    background-size: contain;
    position: absolute;
    left: 100px;
    top: -10px;
    -webkit-animation: paint_brush 3s -0.8s linear infinite;
    -moz-animation: paint_brush 3s -0.8s linear infinite;
    -o-animation: paint_brush 3s -0.8s linear infinite;
    animation: paint_brush 3s -0.8s linear infinite; }

#express {
  min-height: 60em; }

@media (max-width: 720px) {
  #express {
    min-height: auto;
    margin-bottom: 3em; } }

@-webkit-keyframes dp_art {
  0% {
    background: url(/images/profile-128.jpg);
    background-size: contain; }
  23% {
    background: url(/images/profile-128.jpg);
    background-size: contain; }
  27% {
    background: url(/images/dp-hand-drawn-128.jpg);
    background-size: contain; }
  48% {
    background: url(/images/dp-hand-drawn-128.jpg);
    background-size: contain; }
  52% {
    background: url(/images/dp-art-128.jpg);
    background-size: contain; }
  73% {
    background: url(/images/dp-art-128.jpg);
    background-size: contain; }
  77% {
    background: url(/images/dp-pixel-128.jpg);
    background-size: contain; }
  98% {
    background: url(/images/dp-pixel-128.jpg);
    background-size: contain; }
  100% {
    background: url(/images/profile-128.jpg);
    background-size: contain; } }

@-moz-keyframes dp_art {
  0% {
    background: url(/images/profile-128.jpg);
    background-size: contain; }
  23% {
    background: url(/images/profile-128.jpg);
    background-size: contain; }
  27% {
    background: url(/images/dp-hand-drawn-128.jpg);
    background-size: contain; }
  48% {
    background: url(/images/dp-hand-drawn-128.jpg);
    background-size: contain; }
  52% {
    background: url(/images/dp-art-128.jpg);
    background-size: contain; }
  73% {
    background: url(/images/dp-art-128.jpg);
    background-size: contain; }
  77% {
    background: url(/images/dp-pixel-128.jpg);
    background-size: contain; }
  98% {
    background: url(/images/dp-pixel-128.jpg);
    background-size: contain; }
  100% {
    background: url(/images/profile-128.jpg);
    background-size: contain; } }

@-o-keyframes dp_art {
  0% {
    background: url(/images/profile-128.jpg);
    background-size: contain; }
  23% {
    background: url(/images/profile-128.jpg);
    background-size: contain; }
  27% {
    background: url(/images/dp-hand-drawn-128.jpg);
    background-size: contain; }
  48% {
    background: url(/images/dp-hand-drawn-128.jpg);
    background-size: contain; }
  52% {
    background: url(/images/dp-art-128.jpg);
    background-size: contain; }
  73% {
    background: url(/images/dp-art-128.jpg);
    background-size: contain; }
  77% {
    background: url(/images/dp-pixel-128.jpg);
    background-size: contain; }
  98% {
    background: url(/images/dp-pixel-128.jpg);
    background-size: contain; }
  100% {
    background: url(/images/profile-128.jpg);
    background-size: contain; } }

@keyframes dp_art {
  0% {
    background: url(/images/profile-128.jpg);
    background-size: contain; }
  23% {
    background: url(/images/profile-128.jpg);
    background-size: contain; }
  27% {
    background: url(/images/dp-hand-drawn-128.jpg);
    background-size: contain; }
  48% {
    background: url(/images/dp-hand-drawn-128.jpg);
    background-size: contain; }
  52% {
    background: url(/images/dp-art-128.jpg);
    background-size: contain; }
  73% {
    background: url(/images/dp-art-128.jpg);
    background-size: contain; }
  77% {
    background: url(/images/dp-pixel-128.jpg);
    background-size: contain; }
  98% {
    background: url(/images/dp-pixel-128.jpg);
    background-size: contain; }
  100% {
    background: url(/images/profile-128.jpg);
    background-size: contain; } }

@-webkit-keyframes paint_brush {
  0% {
    left: 100px;
    top: -10px; }
  38% {
    left: 100px;
    top: -10px; }
  46% {
    left: 60px;
    top: -70px; }
  48% {
    left: 40px;
    top: -60px; }
  50% {
    left: 60px;
    top: -50px; }
  52% {
    left: 40px;
    top: -40px; }
  54% {
    left: 60px;
    top: -30px; }
  62% {
    left: 100px;
    top: -10px; }
  100% {
    left: 100px;
    top: -10px; } }

@-moz-keyframes paint_brush {
  0% {
    left: 100px;
    top: -10px; }
  38% {
    left: 100px;
    top: -10px; }
  46% {
    left: 60px;
    top: -70px; }
  48% {
    left: 40px;
    top: -60px; }
  50% {
    left: 60px;
    top: -50px; }
  52% {
    left: 40px;
    top: -40px; }
  54% {
    left: 60px;
    top: -30px; }
  62% {
    left: 100px;
    top: -10px; }
  100% {
    left: 100px;
    top: -10px; } }

@-o-keyframes paint_brush {
  0% {
    left: 100px;
    top: -10px; }
  38% {
    left: 100px;
    top: -10px; }
  46% {
    left: 60px;
    top: -70px; }
  48% {
    left: 40px;
    top: -60px; }
  50% {
    left: 60px;
    top: -50px; }
  52% {
    left: 40px;
    top: -40px; }
  54% {
    left: 60px;
    top: -30px; }
  62% {
    left: 100px;
    top: -10px; }
  100% {
    left: 100px;
    top: -10px; } }

@keyframes paint_brush {
  0% {
    left: 100px;
    top: -10px; }
  38% {
    left: 100px;
    top: -10px; }
  46% {
    left: 60px;
    top: -70px; }
  48% {
    left: 40px;
    top: -60px; }
  50% {
    left: 60px;
    top: -50px; }
  52% {
    left: 40px;
    top: -40px; }
  54% {
    left: 60px;
    top: -30px; }
  62% {
    left: 100px;
    top: -10px; }
  100% {
    left: 100px;
    top: -10px; } }

.icon-container.none .icon-holder {
  left: calc(50% - 49px);
  top: 4em; }

.icon-container.solve .icon-holder {
  left: calc(50% - 49px);
  top: 4em;
  opacity: 0;
  visibility: hidden;
  transition: left 0.5s linear, opacity 0.5s linear 0.5s, visibility 0.5s linear 1s; }

#solve {
  min-height: 800px; }
  #solve .dd-header {
    height: 90px;
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s 0.5s linear;
    opacity: 0; }
    #solve .dd-header .design-header {
      font-size: 4em;
      font-weight: 600;
      width: 370px;
      box-sizing: border-box;
      padding-left: 160px;
      position: relative;
      opacity: 0; }
      #solve .dd-header .design-header span {
        position: absolute;
        width: 45px;
        height: 90px;
        background: #000;
        border-radius: 0px 90px 90px 0;
        border: 3px solid #000;
        box-sizing: border-box;
        padding-left: 63px;
        display: block;
        left: 81px;
        top: -8px; }
        #solve .dd-header .design-header span:before {
          content: '';
          width: 15px;
          height: 15px;
          border-radius: 50px;
          border: 2px solid #000;
          position: absolute;
          bottom: 15px;
          background: #fff;
          left: -10px; }
    #solve .dd-header .develop-header {
      font-size: 4em;
      width: 370px;
      box-sizing: border-box;
      padding-left: 130px;
      color: #fff;
      text-shadow: 0 0 5px #000,0 0 5px #000,0 0 5px #000,0 0 5px #000,0 0 5px #000,0 0 5px #000,0 0 5px #000,0 0 5px #000,0 0 5px #000,0 0 5px #000,0 0 5px #000,0 0 5px #000,0 0 5px #000,0 0 5px #000,0 0 5px #000,0 0 5px #000,0 0 5px #000,0 0 5px #000,0 0 5px #000;
      letter-spacing: 3px;
      position: relative;
      opacity: 0; }
      #solve .dd-header .develop-header span {
        position: absolute;
        width: 45px;
        height: 90px;
        background: #fff;
        border-radius: 0px 90px 90px 0;
        border: 3px solid #000;
        box-sizing: border-box;
        padding-left: 63px;
        display: block;
        left: 51px;
        top: -8px; }
        #solve .dd-header .develop-header span:before {
          content: '';
          width: 15px;
          height: 15px;
          border-radius: 50px;
          border: 2px solid #fff;
          position: absolute;
          bottom: 15px;
          background: #000;
          left: -10px; }
    #solve .dd-header.animate {
      opacity: 1; }
      #solve .dd-header.animate .design-header,
      #solve .dd-header.animate .develop-header {
        opacity: 1;
        transition: opacity 0.2s 2.8s linear; }
      #solve .dd-header.animate .design-header span:before {
        transition: left .2s 8.8s linear, bottom 0.5s 11.5s linear;
        left: -30px;
        bottom: -10px;
        -webkit-animation: yy_revolve 2s 9s ease-in-out infinite, yy_top_bot 4s 12s linear infinite alternate;
        -moz-animation: yy_revolve 2s 9s ease-in-out infinite, yy_top_bot 4s 12s linear infinite alternate;
        -o-animation: yy_revolve 2s 9s ease-in-out infinite, yy_top_bot 4s 12s linear infinite alternate;
        animation: yy_revolve 2s 9s ease-in-out infinite, yy_top_bot 4s 12s linear infinite alternate; }
      #solve .dd-header.animate .develop-header span:before {
        transition: left .2s 7.8s linear, bottom 0.5s 11.5s linear;
        left: -30px;
        bottom: -10px;
        -webkit-animation: yy_revolve 2s 8s ease-in-out infinite reverse, yy_top_bot 4s 12s linear infinite alternate;
        -moz-animation: yy_revolve 2s 8s ease-in-out infinite reverse, yy_top_bot 4s 12s linear infinite alternate;
        -o-animation: yy_revolve 2s 8s ease-in-out infinite reverse, yy_top_bot 4s 12s linear infinite alternate;
        animation: yy_revolve 2s 8s ease-in-out infinite reverse, yy_top_bot 4s 12s linear infinite alternate; }
    #solve .dd-header .yin-yang {
      width: 90px;
      height: 90px;
      position: relative;
      transition: all .5s .35s linear; }
      #solve .dd-header .yin-yang:before {
        content: '';
        position: absolute;
        width: 90px;
        height: 90px;
        border-radius: 90px;
        background: url(/images/profile-128.jpg);
        background-size: contain;
        transform: rotate(180deg);
        box-shadow: 0 0 0 3px #ccc; }
      #solve .dd-header .yin-yang .d1 {
        /* white side */
        position: absolute;
        width: 45px;
        height: 90px;
        background: #fff;
        border-radius: 0px 90px 90px 0;
        border: 3px solid #000;
        box-sizing: border-box;
        left: 0;
        top: 0;
        transition: all .5s linear;
        transform: rotate(180deg); }
        #solve .dd-header .yin-yang .d1:before {
          /* Black dot, for later use */
          content: '';
          width: 15px;
          height: 15px;
          border-radius: 50px;
          border: 0px solid #fff;
          position: absolute;
          bottom: 14px;
          background: #000;
          left: -6px;
          transition: all .5s linear; }
      #solve .dd-header .yin-yang .d2 {
        /* Black side */
        position: absolute;
        width: 45px;
        height: 90px;
        background: #000;
        border-radius: 0px 90px 90px 0;
        border: 3px solid #000;
        box-sizing: border-box;
        left: 45px;
        top: 0;
        transition: all .5s linear; }
        #solve .dd-header .yin-yang .d2:before {
          /* Black dot, because I'm on top */
          content: '';
          width: 15px;
          height: 15px;
          border-radius: 50px;
          border: 13px solid #fff;
          position: absolute;
          top: 1px;
          background: #000;
          left: -25px;
          transition: all .5s linear; }
        #solve .dd-header .yin-yang .d2:after {
          /* White dot for my parent */
          content: '';
          width: 15px;
          height: 15px;
          border-radius: 50px;
          border: 13px solid #000;
          position: absolute;
          bottom: 1px;
          background: #fff;
          left: -25px;
          transition: all .5s linear; }
      #solve .dd-header .yin-yang.split {
        transition: all .5s linear;
        transform: rotate(180deg); }
        #solve .dd-header .yin-yang.split .d1 {
          opacity: 0;
          position: absolute;
          padding-left: 63px;
          transition: all .5s .35s linear, padding-left .5s linear, opacity 0s 1s linear;
          left: -120px; }
          #solve .dd-header .yin-yang.split .d1:before {
            border-width: 2px;
            width: 15px;
            height: 15px;
            left: -10px;
            bottom: 15px; }
        #solve .dd-header .yin-yang.split .d2 {
          opacity: 0;
          position: absolute;
          padding-left: 63px;
          transition: all .5s .35s linear, padding-left .5s linear, opacity 0s 1s linear;
          left: 310px;
          transform: rotate(180deg); }
          #solve .dd-header .yin-yang.split .d2:before {
            transform: scaleX(0); }
          #solve .dd-header .yin-yang.split .d2:after {
            border-width: 2px;
            width: 15px;
            height: 15px;
            left: -10px;
            bottom: 15px; }

@media (max-width: 830px) {
  /* 370 + 370 + 90 */
  #solve .dd-header {
    width: 120%;
    transform: scale(0.8);
    position: relative;
    left: -10.5%; } }

@media (max-width: 720px) {
  #solve .dd-header {
    margin-top: 0em;
    width: 330%;
    transform: scale(0.4);
    position: relative;
    left: -118%;
    opacity: 1; }
    #solve .dd-header .design-header,
    #solve .dd-header .develop-header {
      opacity: 1; } }

@-webkit-keyframes yy_revolve {
  0% {
    left: -30px;
    z-index: 1; }
  49% {
    z-index: 1; }
  50% {
    left: 70px;
    z-index: -1; }
  99% {
    z-index: -1; }
  100% {
    left: -30px;
    z-index: 1; } }

@-moz-keyframes yy_revolve {
  0% {
    left: -30px;
    z-index: 1; }
  49% {
    z-index: 1; }
  50% {
    left: 70px;
    z-index: -1; }
  99% {
    z-index: -1; }
  100% {
    left: -30px;
    z-index: 1; } }

@-o-keyframes yy_revolve {
  0% {
    left: -30px;
    z-index: 1; }
  49% {
    z-index: 1; }
  50% {
    left: 70px;
    z-index: -1; }
  99% {
    z-index: -1; }
  100% {
    left: -30px;
    z-index: 1; } }

@keyframes yy_revolve {
  0% {
    left: -30px;
    z-index: 1; }
  49% {
    z-index: 1; }
  50% {
    left: 70px;
    z-index: -1; }
  99% {
    z-index: -1; }
  100% {
    left: -30px;
    z-index: 1; } }

@-webkit-keyframes yy_top_bot {
  0% {
    bottom: -10px; }
  100% {
    bottom: 75px; } }

@-moz-keyframes yy_top_bot {
  0% {
    bottom: -10px; }
  100% {
    bottom: 75px; } }

@-o-keyframes yy_top_bot {
  0% {
    bottom: -10px; }
  100% {
    bottom: 75px; } }

@keyframes yy_top_bot {
  0% {
    bottom: -10px; }
  100% {
    bottom: 75px; } }

#play {
  min-height: 60em; }
  #play .float-img-holder {
    box-sizing: border-box; }
    #play .float-img-holder img {
      max-width: 300px;
      margin: 0 auto; }

@media (max-width: 720px) {
  #play {
    margin-bottom: 5em; }
    #play .float-img-holder {
      height: 200px; }
      #play .float-img-holder img {
        max-width: none; } }
