@import url(https://fonts.googleapis.com/css?family=Raleway);

$primary: #8fc045;
$palette-1: #FF78BC;
$palette-2: #34D0FF;
$palette-3: #D0854B;
$palette-4: #FEFA59;
$palette-5: #BF78FF;

// https://coolors.co/app/ff77bb-34D0FF-D0854B-FEFA59-bf78ff

@import "common";

.about {
  @import "about";
}
